* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: red;
    color: #CCCCCC;
    
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    margin: 0 auto 0 auto;
    width: 720px;
    padding-top: 64px;
    display: block;
}

#header {
    height: 64px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    color: #fff;

}

h1 {
    font-size: 20px;
    font-weight: 700;
}

#content {
    margin: 0 auto;
    padding: 48px 0;
}

div {
    display: block;
}

.section {
    background: none;
    border-radius: 12px;
    margin-bottom: 48px;
    overflow: hidden;
}

.project {
    transition: 0.2s ease-in-out;
}

.project:hover {
    background-color: #2a2a2a;
}

.bg {
    background-color: #1E1E1E;
}

.section .meta {
    padding: 24px;
}

a {
    color: white;
}

a:hover {
    color: #FFFE7C;
}

.image img {
    display: block;
    width: 100%;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #F6F6F6;
}

p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #CCC;
}

.link {
    display: block;
    font-size: 16px;
    line-height: 28px;
    color: #999;
    padding-left: 24px;
    margin-bottom: 8px;
}

#footer {
    height: 64px;
    width: 100%;
    text-align: center;
}


/* PROJECT PAGES */

.project-info {
    margin-bottom: 100px;
}

.section-image {
    margin-bottom: 60px;
    overflow: hidden;
}

.section-copy {
    margin-bottom: 32px;
}

.border {
    border-radius: 12px;
}

.caption {
    padding-top: 10px;
    color: #999;
    font-size: 14px;
}

.copy {
    padding-top: 12px;
}

.list {
    margin-top: 12px;
}

.list-item {
    margin-bottom: 8px;
}

/* RESPONSIVE */

@media (max-width: 425px) {

    body {
        width: 84%;
    }

    #content {
        padding: 32px 0;
    }

    .section {
        margin-bottom: 32px;
    }
}